In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [3]:
X = df[['Age','EstimatedSalary']]
y = df[['Purchased']]

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=20)

In [5]:
X_train.shape

(300, 2)

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
model = LogisticRegression()
model.fit(X_train_scaled,y_train)

C:\Users\ajay sutar\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [10]:
model.score(X_test_scaled,y_test)

0.82

In [11]:
# To predict
q = [[20,75000],
     [55,120000],
     [48,30000],
    [40,38000]]
q_scaled= scaler.transform(q)

C:\Users\ajay sutar\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(

In [16]:
model.predict(q_scaled)

array([0, 1, 0, 0], dtype=int64)

In [13]:
import matplotlib.pyplot as plt

In [14]:
X_train_scaled[:,0],

(array([0.42857143, 0.80952381, 0.4047619 , 0.26190476, 0.69047619,
        0.4047619 , 0.71428571, 0.30952381, 0.11904762, 0.30952381,
        0.04761905, 0.16666667, 0.64285714, 0.66666667, 0.07142857,
        0.54761905, 0.66666667, 0.45238095, 0.73809524, 0.19047619,
        0.69047619, 0.19047619, 0.69047619, 0.5       , 0.23809524,
        0.28571429, 0.23809524, 0.30952381, 0.38095238, 0.5       ,
        0.95238095, 0.52380952, 0.69047619, 0.78571429, 0.73809524,
        0.71428571, 0.4047619 , 0.4047619 , 0.0952381 , 0.95238095,
        0.26190476, 0.54761905, 0.28571429, 0.35714286, 0.69047619,
        0.54761905, 0.64285714, 0.47619048, 0.64285714, 0.19047619,
        0.42857143, 0.30952381, 0.66666667, 0.14285714, 0.5       ,
        0.35714286, 0.26190476, 0.66666667, 0.21428571, 0.54761905,
        0.54761905, 0.21428571, 0.0952381 , 0.28571429, 0.71428571,
        0.69047619, 0.76190476, 0.23809524, 0.66666667, 0.42857143,
        0.35714286, 0.33333333, 0.45238095, 0.45238095, 0.19047619,
        0.30952381, 0.73809524, 0.97619048, 0.73809524, 0.57142857,
        0.88095238, 0.4047619 , 0.21428571, 0.45238095, 0.76190476,
        0.57142857, 0.07142857, 0.04761905, 0.57142857, 0.42857143,
        0.4047619 , 0.52380952, 0.42857143, 0.16666667, 0.4047619 ,
        0.14285714, 0.4047619 , 0.23809524, 0.28571429, 0.69047619,
        0.54761905, 0.73809524, 0.47619048, 0.66666667, 0.45238095,
        0.71428571, 0.57142857, 0.14285714, 0.19047619, 0.52380952,
        0.30952381, 0.16666667, 0.9047619 , 0.97619048, 0.52380952,
        0.35714286, 0.02380952, 0.23809524, 0.16666667, 0.78571429,
        0.52380952, 0.54761905, 0.4047619 , 0.83333333, 0.57142857,
        0.5       , 0.19047619, 0.11904762, 0.80952381, 0.69047619,
        0.9047619 , 0.4047619 , 0.19047619, 0.07142857, 0.        ,
        0.11904762, 0.47619048, 0.19047619, 0.45238095, 0.21428571,
        0.57142857, 0.83333333, 0.45238095, 0.4047619 , 0.33333333,
        0.26190476, 0.35714286, 0.04761905, 0.4047619 , 0.21428571,
        0.        , 0.71428571, 0.45238095, 0.14285714, 0.14285714,
        1.        , 0.30952381, 0.21428571, 0.97619048, 0.38095238,
        0.57142857, 0.23809524, 0.57142857, 0.71428571, 0.45238095,
        0.47619048, 0.66666667, 0.21428571, 0.0952381 , 0.28571429,
        0.14285714, 0.04761905, 0.02380952, 0.26190476, 0.19047619,
        0.02380952, 0.4047619 , 0.28571429, 0.23809524, 0.71428571,
        0.28571429, 0.35714286, 0.42857143, 0.71428571, 0.78571429,
        0.23809524, 0.5       , 0.47619048, 0.23809524, 0.30952381,
        0.76190476, 0.5       , 0.52380952, 0.57142857, 0.14285714,
        0.54761905, 0.35714286, 0.33333333, 0.5952381 , 0.5       ,
        0.80952381, 1.        , 0.73809524, 0.52380952, 0.30952381,
        0.73809524, 0.21428571, 0.4047619 , 0.26190476, 0.54761905,
        0.4047619 , 0.57142857, 0.4047619 , 0.47619048, 0.76190476,
        0.9047619 , 0.52380952, 0.54761905, 0.92857143, 0.4047619 ,
        0.4047619 , 0.04761905, 0.88095238, 0.19047619, 0.19047619,
        0.4047619 , 0.85714286, 0.64285714, 0.04761905, 0.57142857,
        0.5       , 0.57142857, 0.4047619 , 0.47619048, 0.23809524,
        0.23809524, 0.73809524, 0.97619048, 0.71428571, 0.57142857,
        0.69047619, 0.02380952, 0.4047619 , 0.71428571, 0.19047619,
        0.16666667, 0.21428571, 0.4047619 , 0.45238095, 0.47619048,
        0.97619048, 0.92857143, 0.02380952, 0.66666667, 0.71428571,
        0.38095238, 0.35714286, 0.19047619, 0.57142857, 0.71428571,
        0.28571429, 0.54761905, 0.64285714, 0.92857143, 0.5       ,
        0.88095238, 0.52380952, 0.54761905, 0.95238095, 0.5       ,
        0.4047619 , 0.54761905, 0.5       , 0.69047619, 0.        ,
        0.69047619, 0.21428571, 0.80952381, 0.4047619 , 0.54761905,
        0.07142857, 0.38095238, 0.14285714, 0.92857143, 0.4047619 ,
        0.45238095, 1.        , 0.45238095, 0.45238095, 0.21428571,
        0.52380952, 0.45238095, 0.14285714, 0.80952381, 0.71428571,
        1.        , 0.66666667, 1.        , 0.97619048, 1.        ]),)